/* google front CDN link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
   


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#52BCFD;
    padding: 20px 80px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color:#fff;
    transition: 0.3s ease-in-out;
}
#navbar li a:hover,
#navbar li a.active{
    color:blue;
}
#navbar li a:hover::after,
#navbar li a.active::after{
    content:"";
    width:30%;
    height: 2px;
    background-color: #fff;
    position:absolute;
    bottom :-4px;
    left:20px;

}

#mobile i{
    color:#fff

}